/* @media(max-width: 1920px){} */
/* @media(max-width: 1680px){} */
/* @media(max-width: 1600px){} */
/* @media(max-width: 1536px){} */
/* @media(max-width: 1440px){} */
/* @media(max-width: 1366px){} */
/* @media(max-width: 1280px) {} */
@media(max-width: 1080px) {
    .films__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }
}

@media(max-width: 1024px) {
    .header__bottom-inner {
        height: 70vh;
    }
}

/* @media(max-width: 992px){} */
/* @media(max-width: 991px){} */
@media(max-width: 800px) {

    .header__logo>img {
        max-width: 85px;
    }

    .header__logo {
        font-family: var(--CB);
        font-size: 15px;
        line-height: 20px;
        color: var(--white);
    }

    .section__title {
        display: inline-block;
        font-family: var(--CR);
        font-size: 30px;
        line-height: 40px;
        text-transform: capitalize;
        color: var(--yellow);
        padding-bottom: 6px;
        border-bottom: 2px solid var(--yellow);
        margin-bottom: 54px;
    }

    .widow__video {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .widow {
        background: rgba(255 255 255 / 51%);
    }

    .widow__text {
        font-family: var(--RR);
        font-size: 100%;
        line-height: 27px;
        text-align: justify;
        color: var(--bg);
        margin-bottom: 55px;
    }

    .widow__inner {
        width: 100%;
        text-align: center;
    }

    .Collections__inner {
        overflow-x: auto;
    }

    .series__videos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}


/* @media(max-width: 768px){} */
/* @media(max-width: 767px){} */
/* @media(max-width: 736px){} */
/* @media(max-width: 734px){} */
/* @media(max-width: 684px){} */
/* @media(max-width: 667px){} */


@media(max-width: 640px) {
    .footer__inner {
        flex-direction: column;
        gap: 30px;
    }


    /* @media(max-width: 600px){} */

}

@media(max-width: 575px) {

    .header__top {
        padding: 12px 0;
    }

    .header__logo>img {
        max-width: 70px;
    }

    .header__logo {
        font-size: 12px;
    }

    .nav {
        position: fixed;
        background: black;
        top: 0;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 100%;
        z-index: 100;
        transition: .5s;
        transform: translateX(-101%);
    }

    .nav__list {
        gap: 0px;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
    }

    .nav__link {
        padding: 32px 0;
        font-size: 16px;
    }

    .menu {
        width: 30px;
        height: 30px;
        align-items: center;
        cursor: pointer;
        position: relative;
        display: flex;
    }

    .menu__item {
        position: absolute;
        width: 100%;
        display: block;
        height: 2px;
        background-color: var(--yellow);
    }

    .menu__item::before,
    .menu__item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: inherit;
    }

    .menu__item::before {
        top: -8px;
    }

    .menu__item::after {
        bottom: -8px;
    }

    .header__middle-inner {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .header__title {
        font-size: 54px;
        margin-bottom: 22px;
    }
    
    
    .default-btn {
        padding: 12px 38px;
        font-size: 12px;
    }
    

}




@media(max-width: 540px){
    .section__title {
        display: block;
        width: max-content;
        margin: 0 auto;
        font-size: 30px;
        padding-bottom: 6px;
        margin-bottom: 54px;
    }    
    
    .header__logo>img {
        max-width: 60px;
    }
    
    .films__card {
        max-width: 300px;
    }
        
        .series__title {
            font-size: 36px;
            margin-bottom: 15px;
        }
        
        .footer__text {
            font-size: 14px;
        }
}


@media(max-width: 425px){
    .header__title{
        font-size: 40px;
        margin-bottom: 0px;
    }
    
    .widow__img{
        max-width: 100%;
    }
    
    
    
    
}
/* @media(max-width: 414px){} */
/* @media(max-width: 412px){} */
/* @media(max-width: 384px){} */
/* @media(max-width: 375px){} */
/* @media(max-width: 360px){} */
/* @media(max-width: 320px){} */